@media (max-width: 800px) {
    .burger {
        display: flex;
    }
}

@media (min-width: 800px) {
    .burger {
        display: none;
    }
}

.burger {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 10;
    overflow: hidden;
}

.burger span {
    position: absolute;
    top: 12.5px;
    left: 3px;
    height: 4px;
    width: 24px;
    background-color: #004682;
    transition: all .3s ease-in-out;
}
.burger span::before {
    content: '';
    position: absolute;
    left: 0;
    top: 8px;
    height: 4px;
    width: 24px;
    background-color: #004682;
    transition: all .3s ease-in-out;
}
.burger span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 8px;
    height: 4px;
    width: 24px;
    background-color: #004682;
    transition: all .3s ease-in-out;
}

.burger.active span {
    background-color: transparent;
}

.burger.active span::before {
    transform-origin: 1px;
    transform: rotate(-45deg);
}

.burger.active span::after {
    transform-origin: 0;
    transform: rotate(45deg);
}