@media (max-width: 800px) {
    .about-container {
        padding-left: 5%;
        padding-right: 5%;
    }
    .about-card {
        max-width: 90%;
        padding: 5%;
    }
    .about-header {
        font-size: 1.5rem;
    }
    .about-subhead {
        font-size: .9rem;
    }
}

@media (min-width: 800px) {
    .about-container {
        padding-left: 15%;
        padding-right: 15%;
    }
    .about-card {
        max-width: 60%;
        padding: 5%;
    }
    .about-header {
        font-size: 3vw;
    }
    .about-subhead {
        font-size: 1.5vw;
    }
    .about-desc {
        font-size: 1.5vw;
    }
}

.about-container {
    text-align: left;
    position: relative;
    background-color: var(--color-light-blue);
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
.about-card {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    background-color: var(--color-background-white);
    border-radius: 10px;
    border-top: var(--color-secondary) 5px solid;
    margin-top: 10%;
    margin-bottom: 10%;
}
.about-header {
    color: var(--color-secondary);
    margin-bottom: 0%;
}
.about-subhead {
    margin-top: 0%;
    color: var(--color-primary);
}
.about-desc {
    border-top: solid 2.5px var(--color-quaternary);
    padding-top: 5%;
}