@media (max-width: 800px) {
    .home-container {
        padding-left: 2.5%;
        padding-right: 2.5%;    
    }
    .h2question {
        font-size: 2rem;
    }
    .home-container::before {
        height: 40vw;
    }    
}

@media (min-width: 800px) {
    .home-container {
        padding-left: 0;
        padding-right: 0;
    }
    .h2question {
        font-size: 3vw;
    }
    .home-container::before {
        height: 27vw;
    }
    
}

.h2question {
    margin: 0;
    padding-top: 4%;
    padding-bottom: 2.5%;
    font-weight: 400;
    color: var(--color-secondary);
}

.info-card-wrapper {
    background-color: var(--color-background-white);
    border-top: solid 4px var(--color-secondary);
}