.contact-btn {
    align-items: center;
    justify-content: center;
    height: 45px;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--color-background-white);
    background-color: var(--color-primary);
    cursor: pointer;
    border: 0;
}
.contact-btn:hover {
    background-color: var(--color-secondary);
}

@media (max-width: 800px) {
    .contact-cards {
        padding-left: 5%;
        padding-right: 5%;
        flex-direction: column;
        justify-content: center;
    }
    .contact-cards::before {
        top: 10%;
        left: -10%;
        height: 80%;
        width: 115%;
        background-color: var(--color-light-blue);
    }
}

@media (min-width: 800px) {
    .contact-cards {
        padding-left: 15%;
        padding-right: 15%;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .contact-cards::before {
        top: 65%;
        width: 50%;
        border-bottom: 12.5vw solid var(--color-light-blue) !important;
        border-left: 30vw solid transparent !important;
        border-right: 30vw solid transparent !important;
    }
}

.contact-cards {
    display: flex;
    position: relative;
    margin-bottom: 5%;
}
.contact-cards::before {
    content: '';
    position: absolute;
}
.h1question {
    font-weight: 400;
    color: var(--color-secondary);
}