@media (max-width: 800px) {
    .banner-container {
        max-height: 65vw;
    }

    .bannerimg {
        height: 65vw;
        width: 120%;
    }
    .banner-cover {
        width: 60%;
        top: 10%;
        height: 70%;
    }
    .banner-question {
        font-size: 3.75vw;
    }
    .banner-answer {
        font-size: 3vw;
    }
    .banner-cta-cap {
        font-size: 3vw;
    }
    .banner-cta {
        font-size: 1rem;
        padding: 4%;
        padding-left: 12.5%;
        padding-right: 12.5%;
        border-radius: 50px;
    }
}

@media (min-width: 800px) {
    .banner-container {
        max-height: 45vw;
    }
    .bannerimg {
        height: 45vw;
        width: 100%;
    }
    .banner-cover {
        width: 35%;
        top: 10%;
        height: 65%;
    }
    .banner-question {
        font-size: 2.2vw;
    }
    .banner-answer {
        font-size: 1.8vw;
    }
    .banner-cta-cap {
        font-size: 1.5vw;
    }
    .banner-cta {
        font-size: 2vw;
        padding: 4%;
        padding-left: 12.5%;
        padding-right: 12.5%;
        border-radius: 50px;
    }
}

.banner-container {
    position: relative;
}
.bannerimg {
    top: 0;
    position: sticky;
    transform: rotateY(180deg);
}
.banner-cover {
    position: absolute;
    left: 0;
    padding-left: 5%;
    display: block;
    border-radius: 0 5px 5px 0;
    background-color: rgba(255, 255, 255, .9);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
}
.banner-question {
    text-align: left;
    margin-top: 7.5%;
    margin-left: 5%;
    margin-right: 10%;
    margin-bottom: 5%;
    color: #222;
    font-weight: 400;
}
.banner-answer {
    text-align: left;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 10%;
    margin-bottom: 10%;
    color: #222;
    font-weight: 400;
}
.banner-cta-cap {
    color: var(--color-subtext);
    margin-bottom: 7%;
    font-weight: 400;
}
.banner-cta {
    background-color: var(--color-tertiary);
    color: var(--color-background-white);
    text-decoration: none;
    transition: ease-in-out .2s all;
    font-weight: 500;
}
.banner-cta:hover {
    background-color: var(--color-tertiary-hover);
}