@media (max-width: 800px) {
    .footer-cta {
        font-size: 1.2rem;
        padding: 2%;
        padding-left: 12.5%;
        padding-right: 12.5%;
        border-radius: 50px;
    }
    .foot-cta-quote {
        font-size: 1.5rem;
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .footer-column-one ul li {
        font-size: .9rem;
    }
}
@media (min-width: 800px) {
    .footer-cta {
        font-size: 1.8vw;
        padding: 15px;
        padding-left: 8%;
        padding-right: 8%;
        border-radius: 50px;
    }
    .foot-cta-quote {
        font-size: 2vw;
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .footer-column-one ul li {
        font-size: .9rem;
    }
}

.foot-panel {
    display: block;
    justify-content: end;
    width: 100%;
    background-color: var(--color-light-blue);
    /* background-color: #007edfbb; */
    margin-top: auto;
    bottom: 0;
}
.foot-cta-bar {
    border-top: var(--color-light-blue) solid 30px;
    background-color: var(--color-background-white);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foot-cta-quote {
    color: var(--color-primary);
    font-weight: 500;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
}
.footer-cta {
    font-weight: 500;
    background-color: var(--color-tertiary);
    color: var(--color-background-white);
    text-decoration: none;
    transition: ease-in-out .2s all;
}
.footer-cta:hover {
    background-color: var(--color-tertiary-hover);
}
.foot-subtext {
    color: var(--color-subtext);
}
.footer-row {
    padding-left: 10%;
    flex-direction: row;
}
.footer-column-one {
    color: var(--color-subtext);
    flex-direction: column;
    text-align: left;
}
.footer-column-one ul {
    margin: 0;
    border-top: var(--color-background-white) 4px solid;
    padding-bottom: 5%;
    padding-left: 0;
}
.footer-column-one ul li {
    color: var(--color-background-white);
    font-weight: 400;
    padding-top: 10px;
    list-style: none;
    padding-left: 0;
}
.footer-column-one ul li a {
    color: var(--color-background-white);
}
.footer-icon {
    width: 12vmin;
    margin-top: 5%;
    margin-left: 0;
    margin-bottom: 5px;
    border: solid 2px black;
}